<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All About the Red Planet: Mars</title>
  <link rel="stylesheet" type ="text/css" href="bootstrap_darkly.css"> 
</head>

<body>
  <div class="container-fluid text-center">

    <!-- Adding the Website Header -->
    <div class="jumbotron text-center">
      <h1>Find information about Mars such as...</h1>
      <br>
      <h3>What is the latest news about Mars? 
      <h3>What are some fun facts about Mars? </h3>
      <h3>What does Mars look like? </h3>
      </h3>
      <br>
      <p><a class="btn btn-primary btn-danger" href="/scrape" role="button">Get the Latest Information!</a></p>
    </div>
  </div>
    
    <!-- Section for Mars News -->
    <div class="row" id="Latest Mars News">
      <div class="col-md-12 ">
        <div class="media">
          <div class="media-body">
            <h3>Latest Mars News</h3>
            <h4 class="media-heading">{{mars.newsTitle}}</h4>
            <p>{{mars.newsParagraph}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Featured Image and Facts Table -->
    <div class="row" id = "mars-featured-image">
      <div class="col-md-8">
        <h3>Featured Mars Image</h3>
        <div class="thumbnail">
            <!-- In case the featured image is unresponsive -->
            <img src="{{mars.featuredImage | default('static/images/error.png', true) }}" alt="Responsive Image">
        </div>
      
      </div>

      <div class="col-md-4">
        <!-- Mars Facts Table -->
        <div class = "row" id="mars-facts">
          <h3>Fun Facts About Mars</h3>
          {{ mars.facts | safe }}
        </div>
      </div>

      <!-- Hemispheres Section -->
      {% for hemispheres in mars.hemispheres %}
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="{{hemispheres.img_url | default('static/images/error.png', true)}}" alt="...">
          <div class="caption">
            <h3>{{hemispheres.title}}</h3>
          </div>
        </div>
      </div>
      {% endfor %}
   </div>

</body>

</html>
